<div id="res-nav">
    <div class="overview-responsive">
        <p class="overview-part">
            <fa-icon [icon]="faCheck" class="icon-check"></fa-icon>
            <span style="margin-left: 8px;"> Scandinavian quality</span>
        </p>
        <p class="overview-part">
            <fa-icon [icon]="faCheck" class="icon-check"></fa-icon>
            <span style="margin-left: 8px;"> Easy installation</span>
        </p>
    </div>
</div>
<nav class="nav">
    <div class="margin-space"> 
        <div class="menu">
            <fa-icon [icon]="faBars" class="icon"></fa-icon>
            <span style="margin-left: 8px;">Menu</span>
        </div>
        <div class="brandLogo">
            <img [src]="brandLogo"/>
        </div>
        <div class="overview">
            <p class="overview-part">
                <fa-icon [icon]="faCheck" class="icon-check"></fa-icon>
                <span style="margin-left: 8px;"> Scandinavian quality</span>
            </p>
            <p class="overview-part">
                <fa-icon [icon]="faCheck" class="icon-check"></fa-icon>
                <span style="margin-left: 8px;"> Easy installation</span>
            </p>
        </div>
    </div>
</nav>