<div class="navigation-admin-panel" style="font-family: sans-serif !important;">
    <div class="construct-nav">
        <div>
            <h2>ADMIN PANEL</h2>
        </div>
        <div>
            <h2 (click)="onOpen()">MENU</h2>
        </div>
        <div class="activePage">
            <button class="greendot"></button>
            <h2>{{ contentView }}</h2>
        </div>
    </div>
</div>

<section *ngIf="!isLoaded" id="contentSection">
    <app-marketing-header  *ngIf="contentView == 'Marketing Banner'"/>
    <app-main-products *ngIf="contentView == 'Main Products'"/>
    <app-videocatalog  *ngIf="contentView == 'Video Catalog'"/>
    <app-productswitch-template  *ngIf="contentView == 'Products Catalog Slider'"/>
    <app-voice-comperator  *ngIf="contentView == 'Voice Comperator'"/>
    <app-main-products *ngIf="contentView == 'Colors and Covers'" class="special-main-products" [productsInput]="colorAndCoversProducts" [showTitle]="false"/> 
    <app-gallery  *ngIf="contentView == 'Gallery'"/>
    <app-information  *ngIf="contentView == 'Information Banners'"/>
    <app-products  *ngIf="contentView == 'Sale Items'"/>
    <app-about-us  *ngIf="contentView == 'About Us'"/>
    <div class="circle" (click)="toggleEditor()">
        <img src="https://www.iconpacks.net/icons/2/free-arrow-down-icon-3101-thumb.png" class="arrow"/>
    </div>
</section>

<section class="edit-content" *ngIf="!isLoaded" id="editorSection">
  <div class="circle-top" (click)="scrollToTop()">
    <img src="assets/arro-up-3100.png" class="arrow"/>
  </div>
  <app-edit-marketing-header *ngIf="contentView == 'Marketing Banner'"/>
  <app-edit-main-products *ngIf="contentView == 'Main Products'"/>
  <app-edit-video-catalog *ngIf="contentView == 'Video Catalog'"/>
  <app-edit-product-catalog-slider *ngIf="contentView == 'Products Catalog Slider'"/>
  <app-edit-voice-comperator *ngIf="contentView == 'Voice Comperator'"/>
  <app-edit-colors-covers *ngIf="contentView == 'Colors and Covers'" />
  <app-edit-gallery-component *ngIf="contentView == 'Gallery'"/>
  <app-edit-informatiobanner-component *ngIf="contentView == 'Information Banners'"/>
  <app-edit-saleitems-component *ngIf="contentView == 'Sale Items'"/>
  <app-edit-aboutus-component *ngIf="contentView == 'About Us'" />
</section>


<app-admin-menu
    [isLoaded]="isLoaded"
    (sectionSelected)="onSectionSelected($event)"
></app-admin-menu>
