body{
    padding: 0;
    margin: 0;
}
html.no-scroll,
body.no-scroll {
  overflow: hidden !important; 
  height: 100vh; 
  width: 100vw; 
}

@font-face {
  font-family: 'FiraGO';
  src: url('./assets/FiraGO-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo';
  src: url("./assets/ArchivoBlack-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, li {
  font-family: inherit;
}

html[lang='GEO'] body, 
html[lang='GEO'] h1, 
html[lang='GEO'] h2, 
html[lang='GEO'] h3, 
html[lang='GEO'] h4, 
html[lang='GEO'] h5, 
html[lang='GEO'] h6, 
html[lang='GEO'] p, 
html[lang='GEO'] a, 
html[lang='GEO'] button, 
html[lang='GEO'] span, 
html[lang='GEO'] li {
  font-family: 'FiraGO', sans-serif !important;
}

.navigation-admin-panel, 
.navigation-admin-panel * {
  font-family: sans-serif !important;
}