body{
    padding: 0;
    margin: 0;
}
html, body {
  overflow-y: scroll; /* Always reserve space for the vertical scrollbar */
}
html.no-scroll,
body.no-scroll {
  overflow: hidden !important; 
  height: 100vh; 
  width: 100vw; 
}
.switcher-container {
  scrollbar-width: none; /* Hide the scrollbar but preserve layout */
  -ms-overflow-style: none; /* For IE */
}

.switcher-container::-webkit-scrollbar {
  display: none; /* For WebKit */
}